REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

CACHE_TTL=604800

HIGH_RISK_THRESHOLD=0.8
LOW_RISK_THRESHOLD=0.3

MODEL_PATH=./models/content_classifier.h5
MAX_BATCH_SIZE=100
