MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_DATABASE=drama_audit

FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe

VISION_API_KEY=your_vision_api_key
VISION_API_ENDPOINT=https://vision.googleapis.com/v1/images:annotate

OCR_API_KEY=your_ocr_api_key
OCR_API_ENDPOINT=https://api.ocr.space/parse/image

FRAME_INTERVAL=2.0
MIN_CONFIDENCE=0.7
MAX_FRAMES_PER_VIDEO=500
REQUEST_TIMEOUT=30
